<template>
  <q-page>
    <div class="row full-width top-image-container relative-position">
      <!--      <q-btn class="q-mt-xl" label="test" @click="store.setScrollSection('passes')"/>-->
      <q-img class="full-width top-image q-mb-xl" src="~assets/bg-top-section.svg"></q-img>
      <div class="absolute fit bottom-fade-bg"></div>
      <div class="absolute-center row justify-center">
        <div class="column items-center q-mb-lg">
          <img alt="Ascendant logo" src="~assets/ascendants-logo-full-orange.svg" style="width: 15rem">
          <div class="text-orange text-weight-bolder section-title">ASCENDANTS</div>
        </div>
        <span class="text-subtitle1 text-system-grey">
          Behold the ASCENDANTS; larger than life pixel beasts tearing down a city near you. Our creed is to expand the Metaverse by supporting talented creatives and developers looking to break into NFTs.
        </span>
      </div>
      <div class="arrow-down-btn-container bounce">
        <div class="inline-block">
          <q-icon class="block" color="positive" name="mdi-dots-vertical" size="md"/>
          <q-icon color="positive" name="mdi-arrow-down" size="md" style="margin-top: -7px"/>
        </div>
      </div>
    </div>
    <!--    <div class="row full-width justify-center q-my-xl">-->
    <!--      <div :class="mainBreakpoint">-->
    <!--        <div class="row">-->
    <!--          <div class="col-12 col-sm-6 q-pa-md">-->
    <!--            <div class="column items-center">-->
    <!--              <span class="text-bold">Claimable amount:</span>-->
    <!--              <span class="text-h6"><q-icon color="positive" name="mdi-ethereum"></q-icon>-->
    <!--                <span class="text-bold">1.269</span><span class="text-caption"> (4414.22$)</span>-->
    <!--              </span>-->
    <!--              <q-btn class="transparent-btn-md no-shadow relative-position q-my-md" label="Migrate now" no-caps/>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-12 col-sm-6 q-pa-md">-->
    <!--            <div class="column items-center">-->
    <!--              <div>Migrate to transfer your liquidity</div>-->
    <!--              <div class="q-py-xs">from SushiSwap or QuickSwap</div>-->
    <!--              <q-btn class="transparent-btn-md no-shadow relative-position q-my-md" label="Claim now" no-caps/>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div id="passes" class="row full-width justify-center q-my-xl q-py-lg">
      <div :class="mainBreakpoint">
        <div class="row">
          <div v-for="(item, index) in nftCardItems" :key="'nft-item'+index" class="col-12 col-sm-6 q-pa-md">
            <open-sea-card :description="item.description" :link="item.link"
                           :name="item.name" :poster-src="item.posterSrc" :title="item.title"
                           :video-src="item.videoSrc"/>
          </div>
        </div>
      </div>
    </div>
    <div id="about-us" class="row full-width justify-center q-my-xl q-py-lg">
      <div :class="mainBreakpoint">
        <div class="row">
          <div class="col-12 col-sm-6 q-pa-md">
            <q-img src="~assets/about-us.svg"/>
          </div>
          <div class="col-12 col-sm-6 q-pa-md column justify-evenly relative-position">
            <q-img class="fit absolute-center" src="~assets/about-us-bg.svg"/>
            <span class="section-title q-pb-md q-px-sm z-front">About Us</span>
            <div class="q-px-sm z-front">
              <span class="text-positive">ASCENDANTS</span>
              <span>
                <span class="q-py-sm">
                is easy to use and powerful to build with. Every aspect of the platform was designed from the ground up to dupport exceptional user experience at mainstream.
                </span>
                <span class="q-py-sm block">
                  Originally conceived by the team behind cryptokitties, flow today is a decentralized network supported.
                </span>
              </span>
            </div>
            <q-btn :href="''" class="transparent-btn-md no-shadow relative-position q-mt-md z-front"
                   icon-right="mdi-arrow-top-right-thick"
                   label="Findout more"
                   no-caps
                   target="_blank"/>
          </div>
        </div>
      </div>
    </div>
    <div id="team" class="row full-width justify-center q-my-xl q-py-lg">
      <div :class="mainBreakpoint">
        <div class="row justify-center">
          <div class="col-12 col-sm-10 col-md-8 column items-center text-center q-pa-md">
            <span class="section-title q-pb-md q-px-sm">
              Let’s See Our Team
            </span>
            <span class=" q-px-sm">
              Non Fungible Tokens or NFTs are the hot topic in the world of technology, as more and more of these find their way to the limelight. Continuing the tradition is a new NFT.
            </span>
          </div>
          <div class="col-12 q-my-md">
            <div class="row justify-evenly">
              <div class="col-7 col-sm-4 col-md-3 col-lg-2 q-mb-md">
                <div class="relative-position">
                  <q-img class="member-img" src="~assets/team-member1.svg"/>
                  <q-img class="member-bg" src="~assets/team-member-bg.svg"/>
                </div>
                <div class="q-my-sm">
                  <span class="text-h6 text-bold block text-center">Jhon Smith</span>
                  <span class="text-positive text-caption block text-center">Lead Developer</span>
                </div>
                <div class="row justify-center q-my-md">
                  <q-btn class="q-pa-xs team-btn relative-position q-mx-md" color="cyan-13" dense flat glossy
                         icon="discord"/>
                  <q-btn class="q-pa-xs team-btn relative-position q-mx-md" color="cyan-13" dense flat glossy
                         icon="mdi-twitter"/>
                </div>
              </div>
              <div class="col-7 col-sm-4 col-md-3 col-lg-2 q-mb-md">
                <div class="relative-position">
                  <q-img class="member-img" src="~assets/team-member2.svg"/>
                  <q-img class="member-bg" src="~assets/team-member-bg.svg"/>
                </div>
                <div class="q-my-sm">
                  <span class="text-h6 text-bold block text-center">Jhon Smith</span>
                  <span class="text-positive text-caption block text-center">Lead Developer</span>
                </div>
                <div class="row justify-center q-my-md">
                  <q-btn class="q-pa-xs team-btn relative-position q-mx-md" color="cyan-13" dense flat glossy
                         icon="discord"/>
                  <q-btn class="q-pa-xs team-btn relative-position q-mx-md" color="cyan-13" dense flat glossy
                         icon="mdi-twitter"/>
                </div>
              </div>
              <div class="col-7 col-sm-4 col-md-3 col-lg-2 q-mb-md">
                <div class="relative-position">
                  <q-img class="member-img" src="~assets/team-member3.svg"/>
                  <q-img class="member-bg" src="~assets/team-member-bg.svg"/>
                </div>
                <div class="q-my-sm">
                  <span class="text-h6 text-bold block text-center">Jhon Smith</span>
                  <span class="text-positive text-caption block text-center">Lead Developer</span>
                </div>
                <div class="row justify-center q-my-md">
                  <q-btn class="q-pa-xs team-btn relative-position q-mx-md" color="cyan-13" dense flat glossy
                         icon="discord"/>
                  <q-btn class="q-pa-xs team-btn relative-position q-mx-md" color="cyan-13" dense flat glossy
                         icon="mdi-twitter"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-us" class="row full-width justify-center q-my-xl q-py-lg">
      <div :class="mainBreakpoint">
        <div class="row">
          <div class="col-12 card-xl column items-center justify-center q-px-lg">
            <span class="section-title block q-mb-lg">Join Our Community</span>
            <span class="text-system-grey text-center" style="max-width: 700px">Non Fungible Tokens or NFTs are the hot topic in the world of technology, as more and more of these find their way to the limelight. Continuing the tradition is a new NFT.</span>
            <q-btn class="transparent-btn-md no-shadow relative-position q-mt-lg"
                   href="https://discord.gg/ascendantsnft"
                   icon-right="discord"
                   label="Our Discord"
                   no-caps
                   target="_blank"/>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="row full-width justify-center q-my-xl">
      <div :class="mainBreakpoint">
        <div class="row">
          <div class="col-12 column items-center justify-center q-px-lg text-center">
            <img alt="Ascendant logo" class="ascendant-logo cursor-pointer q-my-md" src="~assets/ascendant-logo.svg">
            <span class="text-system-grey">
              3333 Unique ASCENDANTS and 6666 Unique Baby
            </span>
            <span class="text-system-grey">
              Kaijuz Who Need A Home.
            </span>
            <div class="row justify-center q-my-md">
              <q-btn class="q-pa-xs footer-contact-btn relative-position q-mx-md" color="orange"
                     dense flat glossy href="https://discord.gg/ascendantsnft" icon="discord"
                     target="_blank"/>
              <q-btn class="q-pa-xs footer-contact-btn relative-position q-mx-md" color="orange" dense flat glossy
                     icon="mdi-twitter"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {defineComponent} from 'vue'
import {mainBreakpoint} from "src/helpers/constants";
import {useScrollSection} from "stores/scroll-section";
import OpenSeaCard from "components/OpenSeaCard";

const nftCardItems = [
  {
    name: 'poseidon',
    title: 'GIFT OF POSEIDON',
    description: 'THE-ASCENDANTS-TEAM-DAO',
    videoSrc: 'https://openseauserdata.com/files/4621b48a6c0578900d76f1bef5906936.mp4#t=0.001',
    posterSrc: 'https://lh3.googleusercontent.com/gVE8ftHr56DZdjiCiX8JGrQWnBKMRdHqaU9luaqmUFwDaqOq2JdUilkhwaQ_yyH7fVpPr7X2v6CVMEgwj4eeJgU6a6_1uMjXvdYudw',
    link: 'https://opensea.io/assets/0x9142b1eebd10690b400487300599eebf746236d3/2/'
  },
  {
    name: 'zeus',
    title: 'GIFT OF ZEUS',
    description: 'NOT_DAV_VAULT',
    videoSrc: 'https://openseauserdata.com/files/ef83a5884f04524ebf4261f4711a970b.mp4#t=0.001',
    posterSrc: 'https://lh3.googleusercontent.com/_Tc0OdtU0wrkWenVCbTshW6GYTSa-AYQaBVlImwJm_-fD3TB1zBVz_3mmqdAP70ymzSkkXSqG3IdI_FsjGW539owfg7yFg48LDU5',
    link: 'https://opensea.io/assets/0x9142b1eebd10690b400487300599eebf746236d3/1/'
  }
]
export default defineComponent({
  name: 'Staking',
  components: {OpenSeaCard},
  setup() {
    const store = useScrollSection();
    // const onIntersection = {
    //   handler(entry) {
    //     store.setScrollSection(entry)
    //   }
    // }
    function onIntersection(entry) {
      console.log(entry)
      if (entry.isIntersecting === true) {

      } else {

      }
    }

    return {
      nftCardItems,
      mainBreakpoint,
      store,
      onIntersection
    }
  }
})
</script>
