<template>
  <q-page>
    <div class="row justify-center full-width q-px-md">
      <div :class="mainBreakpoint + ($q.screen.lt.md ? ' order-last':' order-first')" class="column">
        <div class="row justify-center q-px-md q-py-sm" style="min-height: 90px">
          <!--          <div :class="$q.screen.lt.md ? 'items-center':'items-start'"-->
          <!--               class="column col-12 col-sm-9 col-md-4 col-lg-4 justify-center q-my-md">-->
          <!--            <div class="row full-width justify-between">-->
          <!--              <span class="text-positive">filter</span>-->
          <!--              <span>filter</span>-->
          <!--              <span>filter</span>-->
          <!--              <span class="text-positive">filter</span>-->
          <!--            </div>-->
          <!--          </div>-->
          <div v-show="!(web3Store.loading.init || walletStore.loading.connectToWallet)"
               :class="$q.screen.lt.md ? 'items-center':'items-end'"
               class="column col-12 justify-center">
            <div
              v-if="walletStore.connected && walletStore.hasMetamask"
              :class="$q.screen.lt.md ? 'justify-center':'justify-end'"
              class="row full-width">
              <span v-if="!web3Store.isApprovedForAll">
                <q-btn :loading="web3Store.loading.setApprovalForAll"
                       class="transparent-btn no-shadow relative-position"
                       label="Approve" no-caps @click="web3Store.setApprovalForAll()"/>
              </span>
              <span v-else class="text-center">
                <span v-if="web3Store.loading.stake || web3Store.loading.unStake"
                      class="text-bold text-h6 text-secondary">
                  <q-spinner-grid color="secondary" size="1em"/>
                  <q-spinner-grid color="secondary" size="1em"/>
                  {{ web3Store.loading.stake ? "Staking" : "Un staking" }}
                  <q-spinner-grid color="secondary" size="1em"/>
                  <q-spinner-grid color="secondary" size="1em"/>
                </span>
                <span v-else-if="web3Store.currentItem?.status === 'unStaked'" class="text-center">
                  <q-btn :loading="web3Store.loading.stake" class="transparent-btn no-shadow relative-position q-my-sm"
                         label="Soft stake"
                         no-caps
                         @click="web3Store.stake([web3Store.currentItem.tokenId], [1])"/>
                  <q-btn :loading="web3Store.loading.stake" class="transparent-btn no-shadow relative-position q-my-sm"
                         label="Hard stake"
                         no-caps
                         @click="web3Store.stake([web3Store.currentItem.tokenId], [2])"/>
                  <q-btn :loading="web3Store.loading.stake" class="transparent-btn no-shadow relative-position q-my-sm"
                         label="Stake"
                         no-caps
                         @click="web3Store.stake([web3Store.currentItem.tokenId], [0])"/>
                </span>
                <span v-else-if="web3Store.currentItem?.status === 'staked'">
                  <q-btn :loading="web3Store.loading.unStake" class="transparent-btn no-shadow relative-position"
                         label="Unstake"
                         no-caps
                         @click="web3Store.unStake([web3Store.currentItem.slotId])"/>
                </span>
                <span v-else class="text-bold text-h6">
                  select an item from slots
                </span>
              </span>
            </div>
            <div v-else-if="$q.screen.lt.sm">
              <q-btn v-if="walletStore.hasMetamask" class="btn-lg no-shadow relative-position" icon="mdi-wallet"
                     label="Connect to wallet" @click="walletStore.connectToWeb3modal()"/>
              <q-btn v-else class="btn-lg no-shadow relative-position"
                     href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn"
                     icon="download"
                     label="Install Metamask"
                     target="_blank"/>
            </div>
          </div>
          <!--      </div>-->
        </div>
      </div>
      <q-separator class="full-width" color="transparent"/>
      <div :class="mainBreakpoint" class="column">
        <div class="row justify-center">
          <div class="column items-center justify-center col-12 col-md-6 q-pa-md">
            <div class="inline-block relative-position max-width-100">
              <img :src="$q.screen.lt.sm ? 'card-sm.svg': 'card-lg.svg'" alt="wallet card section" class="card-lg"/>
              <div class="absolute-left-center q-px-md full-width">
                <div class="text-positive q-mb-md text-bold">Wallet</div>
                <div><span class="text-grey">Balance: </span><span class="text-white text-bold">0.0$ Ascend</span></div>
              </div>
            </div>
          </div>
          <div class="column col-12 col-md-6 q-my-md">
            <div class="row full-width">
              <div class="column items-center justify-center col-12 col-md-6 q-pa-md">
                <div class="inline-block relative-position max-width-100">
                  <img :src="$q.screen.sm ? 'card-lg.svg': 'card-sm.svg'" alt="wallet card section" class="card-sm"/>
                  <div class="absolute-left-center q-px-md full-width">
                    <div class="text-positive full-width text-left q-mb-md">
                      <span class="text-bold">Token reward info</span>
                      <q-btn class="q-ml-sm" color="positive" dense glossy icon="mdi-help" round
                             size="7px" text-color="dark"></q-btn>
                    </div>
                    <div><span class="text-grey text-caption">Click "?" to check Ascend yield</span></div>
                  </div>
                </div>
              </div>
              <div class="column items-center justify-center col-12 col-md-6 q-pa-md">
                <div class="inline-block relative-position max-width-100">
                  <img :src="$q.screen.sm ? 'card-lg.svg': 'card-sm.svg'" alt="wallet card section" class="card-sm"/>
                  <div :class="$q.screen.md ? 'q-px-sm': 'q-px-md'"
                       class="absolute-left-center full-width row items-center justify-between">
                    <div class="inline-block">
                      <div class="text-positive full-width text-left text-bold q-mb-md">Token reward</div>
                      <span class="text-white text-bold">22.20$ Ascend</span>
                    </div>
                    <q-btn class="btn-sm no-shadow relative-position" label="Claim"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--      </div>-->
        </div>
      </div>
    </div>
    <div class="row justify-center full-width q-px-md q-pb-xl">
      <div :class="mainBreakpoint">
        <div class="row justify-center">
          <div class="col-12 q-px-md">
            <span class="text-grey">Unstaked NFTs</span>
          </div>
          <div v-for="index in 4" :key="'slot-'+index" class="slot-width q-pa-md">
            <div class="relative-position">
              <img :alt="web3Store?.unStakedSlots[index-1]?.name"
                   :src="web3Store?.unStakedSlots[index-1]?.img"
                   class="full-width cursor-pointer"
                   @click="web3Store.currentItem = web3Store?.unStakedSlots[index-1]"/>
              <div
                v-if="web3Store.currentItem?.slotId === web3Store?.unStakedSlots[index-1].slotId && web3Store.currentItem?.status === 'unStaked'"
                class="absolute-center fit selected-slot row justify-center items-center">
                <q-btn color="secondary" icon="check" rounded size="xl"></q-btn>
              </div>
              <q-inner-loading
                :showing="web3Store.loading.init || walletStore.loading.connectToWallet || web3Store.loading.getSlots"
                class="system-rounded-borders q-mb-xs">
                <q-spinner-bars color="secondary" size="4.5em"/>
              </q-inner-loading>
            </div>

            <!--            <div class="text-grey q-ml-xs">-->
            <!--              drag & drop-->
            <!--            </div>-->
            <div class="text-grey q-ml-xs">
              {{ web3Store?.unStakedSlots[index - 1]?.name }}
            </div>
          </div>
        </div>
        <div class="row justify-center q-mt-md">
          <div class="col-12 q-px-md">
            <span class="text-grey">Staked NFTs</span>
          </div>
          <div v-for="index in 4" :key="'empty-slot-'+index" class="slot-width q-pa-md">
            <div class="relative-position">
              <img
                :alt="web3Store?.stakedSlots[index-1]?.name"
                :src="web3Store?.stakedSlots[index-1]?.img"
                class="full-width cursor-pointer"
                @click="web3Store.currentItem = web3Store?.stakedSlots[index-1]"/>
              <div
                v-if="web3Store.currentItem?.slotId === web3Store?.stakedSlots[index-1]?.slotId && web3Store.currentItem?.status === 'staked'"
                class="absolute-center fit selected-slot row justify-center items-center">
                <q-btn color="secondary" icon="check" rounded size="xl"></q-btn>
              </div>
              <q-inner-loading
                :showing="web3Store.loading.init || walletStore.loading.connectToWallet || web3Store.loading.getSlots"
                class="system-rounded-borders q-mb-xs">
                <q-spinner-bars color="secondary" size="4.5em"/>
              </q-inner-loading>
            </div>
            <!--            <div class="text-grey q-ml-xs">-->
            <!--              drag & drop-->
            <!--            </div>-->
            <div class="text-grey q-ml-xs">
              {{ web3Store?.stakedSlots[index - 1]?.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="empty-slot">-->
    <!--      <div class="top-right-child"></div>-->
    <!--      <div class="top-left-child"></div>-->
    <!--      <div class="bottom-right-child"></div>-->
    <!--      <div class="bottom-left-child"></div>-->
    <!--    </div>-->
  </q-page>
</template>

<script src="./Staking.js"/>
