<template>
  <div class="row full-width justify-center card-border relative-position">
    <div :class="name+'-bg'" class="absolute fit"></div>
    <video :poster="posterSrc" autoplay class="relative-position q-pa-md" controlslist="nodownload" loop
           muted oncontextmenu="return false;"
           playsinline style="width:100%">
      <source :src="videoSrc" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="column col-12 items-start q-pa-md">
      <span class="card-title text-subtitle1 q-pl-sm">{{ title }}</span>
      <span class="text-caption q-pl-sm">{{ description }}</span>
      <q-btn :href="link" class="transparent-btn-md no-shadow relative-position q-mt-md"
             icon-right="mdi-arrow-top-right-thick"
             label="See OpenSea"
             no-caps
             target="_blank"/>
    </div>
  </div>
</template>

<script>
export default {
  name: "OpenSeaCard",
  props: {
    name: {
      type: String,
    },
    title: {
      type: String,
    },
    description: {
      type: String,
    },
    videoSrc: {
      type: String,
      required: true
    },
    posterSrc: {
      type: String,
    },
    link: {
      type: String,
    }
  }
}
</script>

<style scoped>
.card-title {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: 'Adventure Strike FREE', serif;
}

.card-border {
  border-left: orange 4px solid;
  border-right: orange 1px solid;
  border-top: orange 1px solid;
  border-bottom: orange 1px solid;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(74px);
}

.poseidon-bg {
  background: rgba(28, 132, 132, 0.6);
  filter: blur(354px);
}

.zeus-bg {
  background: rgba(186, 189, 25, 0.6);
  filter: blur(354px);
}
</style>
