// app global css in SCSS
//@import "media.query";
//max queries
@media only screen and (max-width: $breakpoint-lg-max) {

}

@media only screen and (max-width: $breakpoint-md-max) {
}

@media only screen and (max-width: $breakpoint-sm-max) {
  body .top-image {
    height: calc(100vh - 84px + 50px);
  }
  body .top-image img {
    object-position: 75% 50% !important;
  }
}

@media only screen and (max-width: $breakpoint-xs-max) {
  .ascendant-logo {
    width: 75px;
  }
  body .btn-lg {
    width: 225px;
  }
  body div.card-xl {
    background-size: cover !important;
  }
}

@media only screen and (max-width: 360px) {

}

//-----------------------------------------------------------
//min queries
@media only screen and (min-width: $breakpoint-sm-min) {
  body .slot-width {
    width: 50%;
  }
}

@media only screen and (min-width: $breakpoint-md-min) {
  body .slot-width {
    width: 25%;
    //padding: 25px;
  }
}

@media only screen and (min-width: $breakpoint-lg-min) {
}

@media only screen and (min-width: $breakpoint-xl-min) {
}

.slot-width {
  width: 50%;
  //padding: 25px;
}

.home-bg {
  //background-image: url(~assets/bg.svg);
  background-image: url(~assets/bg-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  //background-attachment: fixed;
}

html, body {
  background: #090B1D !important;
}

.cursor-default {
  cursor: default;
}

.header-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  top: 0;
  left: 0;
  background-color: rgba(31, 28, 32, 0.95);
}

body div.card-xl {
  background-image: url(~assets/card-xl.svg);
  min-height: 400px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body div.card-lg {
  background-image: url(~assets/card-lg.svg);
  min-height: 105px !important;
  background-repeat: no-repeat;
  background-size: contain;
}

body div.card-sm {
  background-image: url(~assets/card-sm.svg);
  height: 105px !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body img.card-lg, body img.card-lg, body img.card-sm {
  object-fit: contain;
  min-height: 105px;
  max-width: 100%
}

.max-width-100 {
  max-width: 100%;
}

.absolute-left-center {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(0, -50%);
}

html {
  scroll-behavior: smooth;
}

.btn-lg {
  height: 50px;
  width: 241px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 65%, 90% 100%, 10% 100%, 0 65%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 90% 100%, 10% 100%, 0 65%, 0 0);
  background: linear-gradient(264.81deg, #F0C002 7.68%, #FF811B 99.85%), linear-gradient(264.81deg, #F0C002 7.68%, #FF811B 99.85%);
  mix-blend-mode: lighten;
}

.btn-sm {
  height: 40px;
  width: 74px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 75% 100%, 25% 100%, 0 75%, 0 0);
  background: linear-gradient(264.81deg, #F0C002 7.68%, #FF811B 99.85%);
  mix-blend-mode: lighten;

}

.btn-lg::after {
  background: linear-gradient(264.81deg, #FF811B 7.68%, #F0C002 99.85%), linear-gradient(264.81deg, #FF811B 7.68%, #F0C002 99.85%);
}

.btn-sm::after {
  background: linear-gradient(264.81deg, #FF811B 7.68%, #F0C002 99.85%);
}

.btn-lg, .btn-sm, .transparent-btn, .transparent-btn-md {
  position: relative;
  color: #ffffff;
  padding: 0 !important;
  z-index: 1;
}

.btn-lg::after, .btn-sm::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.btn-lg:hover::after, .btn-sm:hover::after {
  opacity: 1;
}

.transparent-btn, .transparent-btn-md {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
}

.transparent-btn {
  height: 55px;
  width: 110px;
  -webkit-clip-path: polygon(50% 10%, 95% 10%, 95% 70%, 85% 90%, 15% 90%, 5% 70%, 5% 10%);
  clip-path: polygon(50% 10%, 95% 10%, 95% 70%, 85% 90%, 15% 90%, 5% 70%, 5% 10%);
  background-image: url(~assets/transparent-btn.svg);
}

.transparent-btn-md {
  height: 60px;
  width: 200px;
  -webkit-clip-path: polygon(50% 10%, 95% 10%, 95% 70%, 85% 90%, 15% 90%, 5% 70%, 5% 10%);
  clip-path: polygon(50% 10%, 95% 10%, 95% 70%, 85% 90%, 15% 90%, 5% 70%, 5% 10%);
  background-image: url(~assets/transparent-btn-md.svg);
}

.transparent-btn .q-focus-helper, .transparent-btn-md .q-focus-helper {
  background: transparent !important;
  opacity: 0.2 !important;
}

.btn-lg:before, .btn-sm:before {
  box-shadow: none !important;
}

.img-btn-lg {
  z-index: -1;
  object-fit: cover;
  position: absolute;
}

//.empty-slot {
//  width: 100%;
//}

.top-image-container {
  margin-top: -50px;
}

.top-image {
  height: calc(100vh - 104px + 50px);
}

.section-title {
  font-family: 'Adventure Strike FREE', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.1em;
}

.z-back {
  z-index: -1;
}

.z-front {
  z-index: 10;
}

.bg-system-grey {
  background: #AFACA1;
}

.text-system-grey {
  color: #AFACA1;
}

.arrow-down-btn-container {
  position: absolute;
  bottom: 15px;
  left: calc(50% - 18px);
  transform: translate(-50%, 0);
  border: 2px $positive solid;
  border-radius: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.bounce {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

a.header-link {
  color: #ffffff;
  transition: 0.5s;
}

a.header-link:link {
  text-decoration: none;
  color: #ffffff;
}

a.header-link:visited {
  text-decoration: none;
  color: #ffffff;
}

a.header-link:hover {
  text-decoration: none;
  color: $orange;
  transition: 0.5s;
}

a.header-link:active {
  text-decoration: none;
}

.member-img {
  position: absolute;
  width: 67%;
  top: 55%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.5s;
  border-radius: 100%;
}

.member-bg {
  transition: 0.8s;
}

.member-img:hover + .member-bg {
  transform: rotateY(360deg);
  transition: 0.8s;
}

.member-img:hover {
  border: 5px solid orange;
  transition: 0.5s;
}

.team-btn {
  border-radius: 8px;
  -webkit-box-shadow: -1px 1px 1px 0px $cyan-13;
  -moz-box-shadow: -1px 1px 1px 0px $cyan-13;
  box-shadow: -1px 1px 1px 0px $cyan-13;
  font-size: 13px;
}

.footer-contact-btn {
  border-radius: 8px;
  -webkit-box-shadow: -1px 1px 1px 0px $orange;
  -moz-box-shadow: -1px 1px 1px 0px $orange;
  box-shadow: -1px 1px 1px 0px $orange;
  font-size: 13px;
}

.bottom-fade-bg {
  background: linear-gradient(0deg, #090B1D 2%, rgba(9, 11, 16, 0));
}

.center-ellipsis {
  width: 200px;
  white-space: nowrap;
}

.center-ellipsis > span {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.ellipsis {
  display: inline-block;
  width: calc(50% + 1.2em);
  text-overflow: ellipsis;
}

.indent {
  display: inline-flex;
  width: calc(50% - 1.2em);
  justify-content: flex-end;
}

.system-rounded-borders {
  border-radius: 8px;
}
