<template>
  <q-layout :class="route.name === 'staking' ? 'home-bg':''" view="lHh Lpr lFf">
    <q-header class="bg-transparent relative-position">
      <div class="header-blur"></div>
      <q-toolbar>
        <div class="row justify-center full-width q-px-md q-py-md">
          <div :class="mainBreakpoint" class="column">
            <div class="row items-center justify-between">
              <img alt="Ascendant logo" class="ascendant-logo cursor-pointer" src="~assets/ascendant-logo.svg"
                   @click="router.push('/')">
              <span v-if="route.name === 'index' && $q.screen.gt.sm">
                <a v-for="(item, index) in headerList" :key="'link'+index"
                   :class="store.$state.section === 'passes' ? 'text-orange':''"
                   :href="item.link" class="q-mx-md header-link">{{ item.label }}</a>
                {{ store.$state.section }}
              </span>
              <span>
<!--              <q-btn v-if="route.name === 'index' && $q.screen.gt.sm"-->
                <!--                     class="transparent-btn-md no-shadow relative-position" icon="groups"-->
                <!--                     label="Claim/Migrate"/>-->
                              <q-btn v-if="route.name === 'index' && $q.screen.gt.sm"
                                     class="transparent-btn-md no-shadow relative-position"
                                     icon="widgets" label="Staking"
                                     to="staking"/>
                <span v-if="route.name !== 'index' && $q.screen.gt.sm && walletStore.connected" class="q-mr-lg">
                                <q-btn class="q-mr-sm cursor-default" color="orange" dense glossy icon="check" round
                                       size="xs" text-color="dark"></q-btn>
                                <span>Wallet connected</span>
                              </span>
                <span v-if="$q.screen.gt.xs">
              <q-btn v-if="walletStore.connected"
                     class="btn-lg no-shadow relative-position no-wrap"
                     icon="mdi-wallet">
                <p class="center-ellipsis no-margin">
      <span class="ellipsis">{{ walletStore.walletAddress }}</span><!--
      --><span class="indent">{{ walletStore.walletAddress }}</span>
    </p>
              </q-btn>
                <q-btn v-else-if="walletStore.hasMetamask" class="btn-lg no-shadow relative-position" icon="mdi-wallet"
                       label="Connect to wallet" @click="walletStore.connectToWeb3modal()"/>
                   <q-btn v-else class="btn-lg no-shadow relative-position"
                          href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn"
                          icon="download"
                          label="Install Metamask"
                          target="_blank"/>
                  </span>
                </span>
              <q-btn
                v-if="!$q.screen.gt.sm"
                aria-label="Menu"
                color="deep-orange"
                dense
                flat
                icon="menu"
                round
                size="lg"
                @click="toggleLeftDrawer"
              />
            </div>
          </div>
        </div>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-if="!$q.screen.gt.sm"
      v-model="leftDrawerOpen"
    >
      <q-list>
        <q-item>
          <q-item-section class="row items-center">
            <img alt="Ascendant logo" class="ascendant-logo" src="~assets/ascendant-logo.svg"/>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section class="row items-center">
            <q-btn v-if="walletStore.connected"
                   class="btn-lg no-shadow relative-position no-wrap"
                   icon="mdi-wallet">
              <p class="center-ellipsis no-margin">
                <span class="ellipsis">{{ walletStore.walletAddress }}</span><!--
      --><span class="indent">{{ walletStore.walletAddress }}</span>
              </p>
            </q-btn>
            <q-btn v-else-if="walletStore.hasMetamask" class="btn-lg no-shadow relative-position" icon="mdi-wallet"
                   label="Connect to wallet" @click="walletStore.connectToWeb3modal()"/>
            <q-btn v-else class="btn-lg no-shadow relative-position"
                   href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn"
                   icon="download"
                   label="Install Metamask"
                   target="_blank"/>
          </q-item-section>
        </q-item>
        <q-separator class="q-my-md" color="deep-orange" inset/>
        <q-item v-for="item in menuList" v-ripple :to="item.link" active-class="text-orange" clickable exact>
          <q-item-section avatar>
            <q-icon :name="item.icon" color="deep-orange"/>
          </q-item-section>
          <q-item-section>
            {{ item.label }}
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import {defineComponent, ref, onMounted} from 'vue'
import {useQuasar} from 'quasar'
import {mainBreakpoint} from "src/helpers/constants";
import {useScrollSection} from "stores/scroll-section";
import {useRoute, useRouter} from 'vue-router'
import {useWalletSection} from "stores/wallet-section";

const headerList = [
  {
    icon: 'pattern',
    label: 'Passes',
    link: '#passes'
  },
  {
    icon: 'info',
    label: 'About',
    link: '#about-us'
  },
  {
    icon: 'groups',
    label: 'Team',
    link: '#team'
  },
  // {
  //   icon: 'home',
  //   label: 'Home',
  //   link: ''
  // },
  // {
  //   icon: 'widgets',
  //   label: 'Staking',
  //   link: 'staking'
  // },
]
const menuList = [
  // {
  //   icon: 'pattern',
  //   label: 'Passes',
  //   link: '#passes'
  // },
  // {
  //   icon: 'info',
  //   label: 'About',
  //   link: '#about-us'
  // },
  // {
  //   icon: 'groups',
  //   label: 'Team',
  //   link: '#team'
  // },
  {
    icon: 'home',
    label: 'Home',
    link: '/'
  },
  {
    icon: 'widgets',
    label: 'Staking',
    link: 'staking'
  },
]
export default defineComponent({
  name: 'MainLayout',

  components: {},

  setup() {
    const leftDrawerOpen = ref(false)
    const $q = useQuasar();
    const walletStore = useWalletSection();
    const route = useRoute();
    const router = useRouter();
    const store = useScrollSection();
    $q.dark.set(true);
    walletStore.init();
    onMounted(async () => {
      await walletStore.checkConnection();
    })
    return {
      headerList,
      menuList,
      mainBreakpoint,
      leftDrawerOpen,
      walletStore,
      route,
      router,
      store,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
